# Dependency directories
node_modules/

# Editor folders
.idea/
.vscode/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Operating system files
.DS_Store

# Keys
.env
